:root {
  --text-blue: #061D2B;
  --text-yellow: #3B3305;
  --bg: #FDFFFC;
  --border: #3B3305;
  --main: #EFCD06;
  --accent: #14354B;

  --sans: "Gabarito", sans-serif;
  --heading: "Funnel Display", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text-blue);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  max-width: 100%;
  /*text-align: center;*/
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h4,
h5 {
  font-family: var(--heading), sans-serif;
}
h2,
h3,
p {
  font-family: var(--sans), sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 50px;
  /*letter-spacing: -1.68px;*/
  /*margin: 32px 0;*/
}
h2 {
  font-size: 64px;
  line-height: 64px;
  /*letter-spacing: -0.24px;*/
  /*margin: 0 0 8px;*/
}
h3{
  font-size: 32px;
  line-height: 38px;
}
h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
p {
  font-size: 20px;
  line-height: 25px;
}

section {
  padding: 100px 200px;
  position: relative;
}

button {
  padding: 16px 20px;
  font-family: var(--sans), sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid var(--main);
  border-radius: 5px;
  background: var(--main);
  color: var(--text-yellow);
  cursor: pointer;
}

button.hollow {
  background: transparent;
  border: 2px solid var(--main);
  color: var(--main);
}

@media (max-width: 1500px) {
  h1 {
    font-size: 64px;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  h3 {
    font-size: 24px;
    line-height: 29px;
  }
  h4 {
    font-size: 20px;
    line-height: 25px;
  }
  h5 {
    font-size: 16px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  section {
    padding: 50px 100px;
  }
  button {
    font-size: 16px;
    padding: 12px 16px;
  }
}